.progress_log {
   width: 250px;
   height: 300px;
   margin: 0px;
   font-family: tahoma;
   font-size: 10pt;
}
.progress_log .status {
   font-size: 12pt;
}
.progress_log .status.complete {
   color: green;
}
.progress_log .status.error {
   color: red;
}
.progress_log .log {
   border: 1px solid #CCCCCC;
   border-bottom-width: 0;
   list-style: none outside none;
   margin: 0;
   padding: 0;
}
.progress_log .log li {
   border-bottom: 1px solid #BBBBBB;
   list-style: none outside none;
   margin: 0;
   padding: 3px 6px;
}
.progress_log .log li.odd {
   background: none repeat scroll 0 0 #EEEEEE;
}
.progress_log .log li.even {
   background: none repeat scroll 0 0 #DDDDDD;
}
